/*Mobile First*/

body {
	margin: 0px;
	background-color: #000;
	color: #fff;
}

#wrapper {
	margin: 0px;
}

#saw-svg:hover, #flame-svg:hover, #bugel-svg:hover {
	cursor: pointer;
}

#flame1 {
	opacity: 0;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

#flame2 {
	opacity: 1;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

#flame-svg:hover #flame1{
	opacity: 1;
}

#flame-svg:hover #flame2{
	opacity: 0;
}

#horn {
	stroke: blue;
	stroke-width: .25px;
	stroke-dasharray: 200;
    stroke-dashoffset: 200;
    transition-property: stroke-dashoffset;
    transition-duration: 2s;
	transition-timing-function: cubic-bezier(1, 0.46, 0.51, 0.84);
}

#noise {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 230ms;
	transition-timing-function: cubic-bezier(1, 0.46, 0.51, 0.84);
}

#bugel-svg:hover #horn {
	stroke-dashoffset: 0;
}

#bugel-svg:hover #noise {
	opacity: 1;
}

#blade {
	fill: #fff;
	stroke: #000;
	stroke-width: .25px;
	transition-property: stroke;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	transition-delay: .1s;
}

#blade:hover {
	fill: #aa0c0c;
	fill-opacity: .8; /* 0-1 */

	stroke: #d8d80b;
	stroke-width: .10em;
	stroke-opacity: .5;  		/* 0-1 */
	stroke-linejoin: round;	/* miter, round, bevel */
}

#dot {
	fill: #fff;

	transition-property: fill;
	transition-duration: .5s;
	transition-timing-function: ease-out;
	transition-delay: .1s;
}

#dot:hover {
	fill: #aa0c0c;
	filter: url(#sawBlurred);
}


/*Phone landscape*/

@media screen and (min-width : 480px) {
	#saw, #flame, #fish, #bugle  {
		float: left;
		width: 50%;
		margin-top: 2%;
		margin-bottom: 2%;
		margin-left: 0%;
		margin-right: 0%;
	}
}


/*Tablet*/

@media screen and (min-width : 768px) {
	#saw, #flame, #fish, #bugle  {
		float: left;
		width: 33%;
		margin-top: 2%;
		margin-bottom: 2%;
		margin-left: 0%;
		margin-right: 0%;
	}
}


/*Desktop*/

@media screen and (min-width : 1280px) {
	#saw, #flame, #fish, #bugle  {
		float: left;
		width: 25%;
		margin-top: 2%;
		margin-bottom: 2%;
		margin-left: 0%;
		margin-right: 0%;
	}
}



